<div  class="center jumbotron other-color">
<table>
  <thead>
  <tr>
    <th>Product Id</th>
    <th>Product Image</th>
    <th>Availability</th>
    <th>Product Name</th>
    <th>Current Price</th>
    <th>Subscribers</th>
    <th>Last updated</th>
  </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td><%= product.staples_pid %></td>
        <td><%= link_to image_tag(product.image_url, alt: product.name), product_path(product.staples_pid, product.name.parameterize) %></td>
        <td><%= product.availability %></td>
        <td><%= product.name.html_safe %></td>
        <td><%= "$#{product.price}" %></td>
        <td><%= "#{product.alerts_count}" %></td>
        <td><%= "#{product.updated_at.in_time_zone("Pacific Time (US & Canada)").strftime("%B %d, %Y %H:%M %Z") }" %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= will_paginate @products %>

</div>