<%= form_for(@alert) do |f| %>
  <% if @alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alert.errors.count, "error") %> prohibited this alert from being saved:</h2>

      <ul>
      <% @alert.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.fields_for :product do |builder| %>
        <%= builder.label :staples_pid, "Product id/url" %><br>
        <%= builder.text_field :staples_pid %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :desired, "Desired price" %><br>
    <%= f.text_field :desired %>
  </div>
  <div class="field">
    <%= f.submit %>
  </div>
<% end %>
