<table>
  <thead>
    <tr>
      <th>Product Id</th>
      <th>Product Image</th>
      <th>Product Name</th>
      <th>Desired Price</th>
      <th>Current Price</th>
      <th colspan="1">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @alerts.each do |alert| %>
      <tr>
        <td><%= alert.product.staples_pid %></td>
        <td><%= link_to image_tag(alert.product.image_url, alt: alert.product.name), "http:#{alert.product.url}", target: "_blank" %></td>
        <td><%= alert.product.name %></td>
        <td><%= "$#{alert.desired}" %></td>
        <td><%= "$#{alert.product.price}" %></td>
        <td><%= link_to 'Destroy', alert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>