<table>
  <thead>
    <tr>
      <th>Product Id</th>
      <th>Product Image</th>
      <th>Product Name</th>
      <th>Desired Price</th>
      <th>Current Price</th>
      <th>Last updated</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @alerts.each do |alert| %>
      <% product=alert.product %>
      <tr>
        <td><%= product.staples_pid %></td>
        <td><%= link_to image_tag(product.image_url, alt: product.name), product_path(product.staples_pid, product.name.parameterize) %></td>
        <td><%= product.name.html_safe %></td>
        <td><%= "$#{alert.desired}" %></td>
        <td><%= "$#{product.price}" %></td>
        <td><%= "#{product.updated_at.in_time_zone("Pacific Time (US & Canada)").strftime("%B %d, %Y %H:%M %Z") }" %></td>
        <td><%= link_to 'Destroy', alert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>