<p id="notice"><%= notice %></p>

<h1>Listing Price Histories</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @price_histories.each do |price_history| %>
      <tr>
        <td><%= price_history.product %></td>
        <td><%= price_history.price %></td>
        <td><%= link_to 'Show', price_history %></td>
        <td><%= link_to 'Edit', edit_price_history_path(price_history) %></td>
        <td><%= link_to 'Destroy', price_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Price history', new_price_history_path %>
